.header{
    height:30px;
    color:#DDD;
    width:100%;
    padding:3px 3px 0px 10px;
    z-index:12;
    /*background-color:#201F21; */
    /*box-shadow: 1px 1px 0.5px #000;*/
}
.open-menu{
    font-size:20px;
    color:#FFF;
    /*-webkit-transform: rotate(90deg) translateX(-3px);*/
}

.header-logo{
    float:right;
    font-weight:bold;
    margin-right:45px;
}
