.ag-darkdash {
  line-height: 1.4;
}
.ag-darkdash img {
  vertical-align: middle;
  border: 0px;
}
.ag-darkdash *::-webkit-scrollbar {
    width: 12px;
}
.ag-darkdash *::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); */
}
.ag-darkdash *::-webkit-scrollbar-thumb {
    background-color:#4A4A4A;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5); 
}
.ag-darkdash *::-webkit-scrollbar-corner{
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.5); 
}
.ag-darkdash .ag-root {
  /*border: 1px solid #808080;*/
  color: #e0e0e0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ag-darkdash .ag-row-group-cell {
  background: #201F21;
  /*border: 1px solid #808080;*/
  padding: 2px;
}
.ag-darkdash .ag-row-group-cell-ghost {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
.ag-darkdash .ag-row-group-cell-text {
  padding-left: 2px;
  padding-right: 2px;
}
.ag-darkdash .ag-row-group-cell-button {
  /*border: 1px solid transparent;*/
  padding-left: 2px;
  padding-right: 2px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.ag-darkdash .ag-row-group-cell-button:hover {
  border: 1px solid #808080;
}
.ag-darkdash .ag-row-group-empty-message {
  padding-left: 2px;
  padding-right: 2px;
  /*border: 1px solid transparent;*/
  color: #909090;
}
.ag-darkdash .ag-row-group-icon {
  padding-right: 4px;
}
.ag-darkdash .ag-row-group-panel {
  /*border-top: 1px solid #808080;*/
  /*border-left: 1px solid #808080;*/
  /*border-right: 1px solid #808080;*/
  padding: 4px;
  background-color: #201F21;
  color: #e0e0e0;
}
.ag-darkdash .ag-cell {
  /*border-right: 1px solid #808080;*/
}
.ag-darkdash .ag-cell-not-inline-editing {
  padding: 2px;
}
.ag-darkdash .ag-cell-range-selected-1:not(.ag-cell-focus) {
  background-color: rgba(100,160,160,0.4);
}
.ag-darkdash .ag-cell-range-selected-2:not(.ag-cell-focus) {
  background-color: rgba(100,190,190,0.4);
}
.ag-darkdash .ag-cell-range-selected-3:not(.ag-cell-focus) {
  background-color: rgba(100,220,220,0.4);
}
.ag-darkdash .ag-cell-range-selected-4:not(.ag-cell-focus) {
  background-color: rgba(100,250,250,0.4);
}
.ag-darkdash .ag-column-moving .ag-cell {
  -webkit-transition: left 0.2s;
  -moz-transition: left 0.2s;
  -o-transition: left 0.2s;
  -ms-transition: left 0.2s;
  transition: left 0.2s;
}
.ag-darkdash .ag-cell-focus {
  border: 1px solid #a9a9a9;
}
.ag-darkdash .ag-cell-no-focus {
  /*border-right: 1px dotted #808080;*/
  /*border-top: 1px solid transparent;*/
  /*border-left: 1px solid transparent;*/
  /*border-bottom: 1px solid transparent;*/
}
.ag-darkdash .ag-cell-first-right-pinned {
  /*border-left: 1px solid #808080;*/
}
.ag-darkdash .ag-cell-last-left-pinned {
  /*border-right: 1px solid #808080;*/
}
.ag-darkdash .ag-cell-highlight {
  /*border: 1px solid #90ee90;*/
}
.ag-darkdash .ag-cell-highlight-animation {
  -webkit-transition: border 1s;
  -moz-transition: border 1s;
  -o-transition: border 1s;
  -ms-transition: border 1s;
  transition: border 1s;
}
.ag-darkdash .ag-cell-data-changed {
  background-color: #5f9ea0;
}
.ag-darkdash .ag-cell-data-changed-animation {
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  -ms-transition: background-color 1s;
  transition: background-color 1s;
}
.ag-darkdash .ag-cell-data-changed:not(.ag-cell-focus) {
  background-color: #5f9ea0;
}
.ag-darkdash .ag-cell-data-changed-animation:not(.ag-cell-focus) {
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  -ms-transition: background-color 1s;
  transition: background-color 1s;
}
.ag-darkdash .ag-value-change-delta {
  padding-right: 2px;
}
.ag-darkdash .ag-value-change-delta-up {
  color: #adff2f;
}
.ag-darkdash .ag-value-change-delta-down {
  color: #f00;
}
.ag-darkdash .ag-value-change-value {
  background-color: transparent;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  padding-left: 1px;
  padding-right: 1px;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  -ms-transition: background-color 1s;
  transition: background-color 1s;
}
.ag-darkdash .ag-value-change-value-highlight {
  background-color: #d2691e;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  -ms-transition: background-color 0.1s;
  transition: background-color 0.1s;
}
.ag-darkdash .ag-rich-select {
  font-size: 14px;
  border: 1px solid #000;
  background-color: #eee;
}
.ag-darkdash .ag-rich-select-list {
  background-color: #fff;
  border-top: 1px solid #aaa;
}
.ag-darkdash .ag-rich-select-value {
  padding: 2px;
}
.ag-darkdash .ag-rich-select-list {
  background-color: #fff;
}
.ag-darkdash .ag-rich-select-row {
  padding: 2px;
}
.ag-darkdash .ag-rich-select-row-selected {
  background-color: #eee;
}
.ag-darkdash .ag-header {
  background-color: #201F21;
  border-bottom: 1px solid #808080;
}
.ag-darkdash .ag-no-scrolls .ag-header-container {
  background-color: #201F21;
  /*border-bottom: 1px solid #808080;*/
}
.ag-darkdash .ag-header-cell {
  /*border-right: 1px solid #808080;*/
}
.ag-darkdash .ag-header-cell-moving .ag-header-cell-label {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.ag-darkdash .ag-header-cell-moving-clone {
  /*border-right: 1px solid #808080;*/
  /*border-left: 1px solid #808080;*/
  background-color: rgba(43,0,0,0.8);
}
.ag-darkdash .ag-header-cell-moving {
  background-color: #808080;
}
.ag-darkdash .ag-pinned-right-header {
  /*border-left: 1px solid #808080;*/
}
.ag-darkdash .ag-header-cell-label {
  padding: 4px 2px 4px 2px;
}
.ag-darkdash .ag-header-cell-text {
  padding: 2px;
}
.ag-darkdash .ag-header-group-cell-label {
  font-weight: bold;
  padding: 4px;
  padding-left: 10px;
}
.ag-darkdash .ag-header-group-cell {
  /*border-right: 1px solid #808080;*/
}
.ag-darkdash .ag-header-group-text {
  margin-right: 2px;
}
.ag-darkdash .ag-header-group-cell-with-group {
  /*border-bottom: 1px solid #808080;*/
}
.ag-darkdash .ag-header-cell-menu-button {
  padding: 2px;
  margin-top: 4px;
  /*border: 1px solid transparent;*/
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; /* When using bootstrap, box-sizing was set to 'border-box' */
  line-height: 0px; /* normal line height, a space was appearing below the menu button */
}
.ag-darkdash .ag-header-cell-menu-button:hover {
  /*border: 1px solid #e0e0e0;*/
}
.ag-darkdash .ag-header-icon {
  stroke: #e0e0e0;
  fill: #e0e0e0;
}
.ag-darkdash .ag-header-expand-icon:hover {
  cursor: pointer;
}
.ag-darkdash .ag-row-odd {
  background-color: #302e2e;
}
.ag-darkdash .ag-row-even {
  background-color: #201F21;
}
.ag-darkdash .ag-overlay-loading-wrapper {
  background-color: rgba(255,255,255,0.5);
}
.ag-darkdash .ag-overlay-loading-center {
  background-color: #fff;
  /*border: 1px solid #a9a9a9;*/
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  color: #000;
}
.ag-darkdash .ag-body {
  background-color: #201F21;
}
.ag-darkdash .ag-row-selected {
  background-color: #000;
}
.ag-darkdash .ag-group-cell-entire-row {
  background-color: #aaa;
  color: 222;
  padding: 4px;
}
.ag-darkdash .ag-footer-cell-entire-row {
  background-color: #aaa;
  color: 222;
  padding: 4px;
}
.ag-darkdash .ag-group-cell {
  font-style: italic;
}
.ag-darkdash .ag-group-expanded {
  padding-right: 2px;
}
.ag-darkdash .ag-group-contracted {
  padding-right: 2px;
}
.ag-darkdash .ag-group-value {
  padding-right: 2px;
}
.ag-darkdash .ag-group-checkbox {
  padding-right: 2px;
}
.ag-darkdash .ag-footer-cell {
  font-style: italic;
}
.ag-darkdash .ag-menu {
  /*border: 1px solid #555;*/
  background-color: #f0f0f0;
  cursor: default;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.ag-darkdash .ag-menu .ag-tab-header {
  background-color: #201F21;
}
.ag-darkdash .ag-menu .ag-tab {
  padding: 6px 8px 6px 8px;
  margin: 2px 2px 0px 2px;
  display: inline-block;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.ag-darkdash .ag-menu .ag-tab-selected {
  background-color: #201F21;
  border-right: 1px solid #555;
  border-left: 1px solid #555;
  border-top: 1px solid #555;
}
.ag-darkdash .ag-menu-separator {
  border-top: 1px solid #d3d3d3;
}
.ag-darkdash .ag-menu-option-active {
  background-color: #bde2e5;
}
.ag-darkdash .ag-menu-option-icon {
  padding: 2px 4px 2px 4px;
  vertical-align: middle;
}
.ag-darkdash .ag-menu-option-text {
  padding: 2px 4px 2px 4px;
  vertical-align: middle;
}
.ag-darkdash .ag-menu-option-shortcut {
  padding: 2px 2px 2px 20px;
  vertical-align: middle;
}
.ag-darkdash .ag-menu-option-popup-pointer {
  padding: 2px 4px 2px 4px;
  vertical-align: middle;
}
.ag-darkdash .ag-menu-option-disabled {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.ag-darkdash .ag-menu-column-select-wrapper {
  margin: 2px;
}
.ag-darkdash .ag-filter-checkbox {
  position: relative;
  top: 2px;
  left: 2px;
}
.ag-darkdash .ag-filter-header-container {
  /*border-bottom: 1px solid #d3d3d3;*/
}
.ag-darkdash .ag-filter-header-container {
  /*border-bottom: 1px solid #d3d3d3;*/
}
.ag-darkdash .ag-filter-apply-panel {
  border-top: 1px solid #d3d3d3;
  padding: 2px;
}
.ag-darkdash .ag-selection-checkbox {
  margin-left: 4px;
}
.ag-darkdash .ag-paging-panel {
  text-align:center;
  margin-top:8px;
  font-size:90%;
  color: #DDD;
  padding: 4px;
}
.ag-darkdash .ag-paging-button {
  margin-left: 4px;
  margin-right: 4px;
  background-color:#00786D;
  border-radius: 1px;
  border: solid 1px #00786D;
}
.ag-darkdash .ag-paging-row-summary-panel {
  width: 400px;
}
.ag-darkdash .ag-tool-panel {
  background-color: #eee;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  border-top: 1px solid #808080;
}
.ag-darkdash .ag-status-bar {
  font-size: 12px;
  height: 20px;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  padding: 2px;
  background-color: #201F21;
  color: #e0e0e0;
}
.ag-darkdash .ag-status-bar-aggregations {
  float: right;
}
